<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoop</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo.ico') }}">


</head>
<body>

    <div>
        <h1>Package Reception Status</h1>
        <p id="status">Loading...</p>
    </div>
    
    <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo" alt="Descriptive Alt Text">
    <div align="center">
        <h1>Camera Stream</h1>
        <img id="video-stream" src="" alt="Video Stream">
    </div>
    <div class="button-container">
        <button id="run-sr-btn" class="button-46" role="button">Voice Commands</button>
        <script>
            $(document).ready(function(){
                $("#run-sr-btn").click(function(){
                    $.post("/sr", function(data){
                        alert(data.message);
                    });
                });
            });
        </script>
        <button id="run-call-btn" class="button-46" role="button">Toggle Audio</button>
        <script>
            $(document).ready(function(){
                $("#run-call-btn").click(function(){
                    $.post("/toggle_audio", function(data){
                        alert(data.message);
                    });
                });
            });
        </script>
        
            <button id="run-video-btn" class="button-46" role="button">Toggle Video</button>
            <script>
                $(document).ready(function(){
                    $("#run-video-btn").click(function(){
                        $.post("/toggle_video", function(data){
                            alert(data.message);
                        });
                    });
                });
            </script>
    </div>

    <script>
        function updateImage() {
            fetch('/get_latest_image')
                .then(response => response.text())
                .then(data => {
                    // Update the image source
                    if (data == "-1") {
                        // Set the src attribute to a default image URL
                        document.getElementById('video-stream').src = "{{ url_for('static', filename='images/camera.jpg') }}";
                    } else {
                        // Update the image source
                        document.getElementById('video-stream').src = 'data:image/jpeg;base64,' + data;
                    }
                });
        }

        // Refresh the image every 1 second (adjust as needed)
        setInterval(updateImage, 100);
    </script>

<script>
    function updateStatus() {
        fetch('/status')
            .then(response => response.text())
            .then(data => {
                document.getElementById('status').innerText = data;
            });
    }

    // Refresh the image every 5 second (adjust as needed)
    setInterval(updateStatus, 5000);
</script>

</body>
</html>
