<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoop</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo.ico') }}">


</head>
<body>
    <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo" alt="Descriptive Alt Text">
    <button id="run-sr-btn" class="button-46" role="button">Voice Commands</button>
    <script>
        $(document).ready(function(){
            $("#run-sr-btn").click(function(){
                $.post("/sr", function(data){
                    alert(data.message);
                });
            });
        });
    </script>
    <button id="run-call-btn" class="button-46" role="button">Talk</button>
    <script>
        $(document).ready(function(){
            $("#run-call-btn").click(function(){
                $.post("/talk", function(data){
                    alert(data.message);
                });
            });
        });
    </script>
    
    <div align="center">
        <h1>Camera Stream</h1>
        <img id="video-stream" src="" alt="Video Stream">
    </div>
    
    <script>
        function updateImage() {
            fetch('/get_latest_image')
                .then(response => response.text())
                .then(data => {
                    // Update the image source
                    if (data == "-1") {
                        // Set the src attribute to a default image URL
                        document.getElementById('video-stream').src = "{{ url_for('static', filename='images/camera.jpg') }}";
                    } else {
                        // Update the image source
                        document.getElementById('video-stream').src = 'data:image/jpeg;base64,' + data;
                    }
                });
        }

        // Refresh the image every 1 second (adjust as needed)
        setInterval(updateImage, 100);
    </script>
</body>
</html>
